# Using `fpl_data.transform` module

In [1]:
import pandas as pd
from fpl_data.transform import FplApiDataTransformed

pd.set_option("display.max_columns", None)

Load and transform data

In [2]:
data = FplApiDataTransformed()

Getting data from API
...
DONE!

## Players

In [3]:
# get a list of all players as a dataframe
data.players_df.sort_values("Pts", ascending=False)

,team,pos,first_name,second_name,player_name,£,ST,MP,Pts,GS,A,GI,xG,xA,xGI,PPG,Pts90,GS90,A90,GI90,xG90,xA90,xGI90,CS,GC,xGC,GC90,xGC90,OG,PS,PM,YC,RC,S,S90,B,BPS,BPS90,I,C,T,II,I90,C90,T90,II90,TSB%
player_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
351,MCI,FWD,Erling,Haaland,Haaland,15.2,3,269,41,7,0,7,3.8,0.2,3.9,13.7,13.7,2.3,0.0,2.3,1.3,0.0,1.3,1,2,2.0,0.7,0.7,0,0,0,1,0,0,0.0,8,204,68.3,240.4,15.0,187.0,44.3,80.4,5.0,62.6,14.8,65.2
328,LIV,MID,Mohamed,Salah,M.Salah,12.6,3,262,41,3,3,6,1.7,1.0,2.7,13.7,14.1,1.0,1.0,2.1,0.6,0.4,0.9,3,0,2.2,0.0,0.8,0,0,0,0,0,0,0.0,8,132,45.3,173.6,72.7,164.0,41.0,59.6,25.0,56.3,14.1,40.7
327,LIV,MID,Luis,Díaz,Luis Díaz,7.6,3,226,32,3,1,4,1.9,0.6,2.5,10.7,12.7,1.2,0.4,1.6,0.8,0.2,1.0,3,0,1.3,0.0,0.5,0,0,0,0,0,0,0.0,5,109,43.4,145.8,87.1,131.0,36.4,58.1,34.7,52.2,14.5,14.3
182,CHE,MID,Cole,Palmer,Palmer,10.6,3,262,25,1,4,5,0.8,1.0,1.9,8.3,8.6,0.3,1.4,1.7,0.3,0.4,0.6,0,5,3.0,1.7,1.0,0,0,0,2,0,0,0.0,4,108,37.1,134.0,143.8,45.0,32.3,46.0,49.4,15.5,11.1,42.1
17,ARS,MID,Bukayo,Saka,Saka,10.1,3,256,24,1,3,4,1.4,0.7,2.0,8.0,8.4,0.4,1.1,1.4,0.5,0.2,0.7,2,1,3.4,0.4,1.2,0,0,0,1,0,0,0.0,3,84,29.5,126.8,110.3,193.0,43.0,44.6,38.8,67.9,15.1,32.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,LEI,DEF,Caleb,Okoli,Okoli,4.0,1,90,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,2,1.5,2.0,1.5,0,0,0,1,0,0,0.0,0,5,5.0,18.8,1.9,3.0,2.4,18.8,1.9,3.0,2.4,0.2
191,FUL,DEF,Joachim,Andersen,Andersen,4.4,1,90,0,0,0,0,0.0,0.0,0.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1,0,2,1.6,2.0,1.6,0,0,0,1,0,0,0.0,0,3,3.0,18.4,2.9,7.0,2.8,18.4,2.9,7.0,2.8,13.0
2,ARS,FWD,Gabriel,Fernando de Jesus,G.Jesus,6.8,0,5,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.2,0.0,2.7,0,0,0,1,0,0,0.0,0,1,18.0,0.2,0.8,0.0,0.1,3.6,14.4,0.0,1.8,0.9
415,NEW,DEF,Fabian,Schär,Schär,5.4,1,27,-2,0,0,0,0.0,0.0,0.0,-2.0,-6.7,0.0,0.0,0.0,0.1,0.0,0.1,0,0,0.2,0.0,0.7,0,0,0,0,1,0,0.0,0,-8,-26.7,0.0,0.3,5.0,0.1,0.0,1.0,16.7,0.3,0.9
238,EVE,DEF,Ashley,Young,Young,4.5,1,65,-2,0,0,0,0.0,0.2,0.2,-2.0,-2.8,0.0,0.0,0.0,0.0,0.2,0.2,0,3,1.2,4.2,1.7,0,0,0,0,1,0,0.0,0,-10,-13.8,9.8,15.2,0.0,2.5,13.6,21.0,0.0,3.5,0.1

## Player summary
The `.get_player_summary()` method can be used to get a player's past or future fixtures

In [4]:
# get the upcoming fixtures for a player
player_fx = data.get_player_summary(355, "fixtures")
player_fx.head()

Fetching
...
DONE!

   team  difficulty
gw
4   BRE           2
5   ARS           5
6   NEW           4
7   FUL           2
8   WOL           2

We can apply some styling to the result above to get a more graphical representation of the upcoming fixtures' difficulty

In [5]:
def style_background_player_fdr(cell_value):
    bg = "background-color:"

    if cell_value == 1:
        return f"{bg} darkgreen;"
    elif cell_value == 2:
        return f"{bg} green;"
    elif cell_value == 3:
        return f"{bg} grey;"
    elif cell_value == 4:
        return f"{bg} orange;"
    elif cell_value == 5:
        return f"{bg} darkred;"
    else:
        return ""


# ToDo: make this part of the package
player_fx.head(10).T.style.map(style_background_player_fdr)

In [6]:
# ToDo: handle case when there are no previous fixtures
player_id = 355
data.get_player_summary(player_id, "history")

Fetching
...
DONE!

,opponent,score,Pts,ST,MP,GS,A,xG,xA,xGI,CS,GC,xGC,OG,PS,PM,YC,RC,S,B,BPS,I,C,T,II,NT,SB,£
gw,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,CHE (A),0 - 2,6,1,90,0,0,0.00,0.01,0.01,1,0,1.01,0,0,0,0,0,0,0,22,15.0,3.3,8.0,2.6,0,40016,4.5
2,IPS (H),4 - 1,2,1,90,0,0,0.53,0.06,0.59,0,1,0.29,0,0,0,0,0,0,0,9,7.0,8.8,24.0,4.0,129240,206433,4.5
3,WHU (A),1 - 3,6,1,90,0,1,0.09,0.09,0.18,0,1,0.73,0,0,0,0,0,0,1,24,35.6,16.8,8.0,6.0,203617,434982,4.6

## Fixtures
Try to create a fixtures matrix, showing each team's upcoming fixtures and their difficulty

In [7]:
fx = data.get_fixtures_matrix()
fx

,4,5,6,7,8,9,10,11,12
team_home,,,,,,,,,
EVE,AVL (A) 4,LEI (A) 2,CRY (H) 2,NEW (H) 3,IPS (A) 2,FUL (H) 2,SOU (A) 2,WHU (A) 2,BRE (H) 2
IPS,BHA (A) 2,SOU (A) 2,AVL (H) 3,WHU (A) 2,EVE (H) 2,BRE (A) 2,LEI (H) 2,TOT (A) 4,MUN (H) 3
MUN,SOU (A) 2,CRY (A) 3,TOT (H) 3,AVL (A) 4,BRE (H) 2,WHU (A) 2,CHE (H) 3,LEI (H) 2,IPS (A) 2
LEI,CRY (A) 3,EVE (H) 2,ARS (A) 5,BOU (H) 2,SOU (A) 2,NFO (H) 2,IPS (A) 2,MUN (A) 3,CHE (H) 3
LIV,NFO (H) 2,BOU (H) 2,WOL (A) 2,CRY (A) 3,CHE (H) 3,ARS (A) 5,BHA (H) 2,AVL (H) 3,SOU (A) 2
MCI,BRE (H) 2,ARS (H) 5,NEW (A) 4,FUL (H) 2,WOL (A) 2,SOU (H) 2,BOU (A) 2,BHA (A) 2,TOT (H) 3
AVL,EVE (H) 2,WOL (H) 2,IPS (A) 2,MUN (H) 3,FUL (A) 3,BOU (H) 2,TOT (A) 4,LIV (A) 5,CRY (H) 2
CRY,LEI (H) 2,MUN (H) 3,EVE (A) 3,LIV (H) 4,NFO (A) 2,TOT (H) 3,WOL (A) 2,FUL (H) 2,AVL (A) 4
FUL,WHU (H) 2,NEW (H) 3,NFO (A) 2,MCI (A) 5,AVL (H) 3,EVE (A) 3,BRE (H) 2,CRY (A) 3,WOL (H) 2
WHU,FUL (A) 3,CHE (H) 3,BRE (A) 2,IPS (H) 2,TOT (A) 4,MUN (H) 3,NFO (A) 2,EVE (H) 2,NEW (A) 4
BRE,MCI (A) 5,TOT (A) 4,WHU (H) 2,WOL (H) 2,MUN (A) 3,IPS (H) 2,FUL (A) 3,BOU (H) 2,EVE (A) 3
CHE,BOU (A) 2,WHU (A) 2,BHA (H) 2,NFO (H) 2,LIV (A) 5,NEW (H) 3,MUN (A) 3,ARS (H) 5,LEI (A) 2
TOT,ARS (H) 5,BRE (H) 2,MUN (A) 3,BHA (A) 2,WHU (H) 2,CRY (A) 3,AVL (H) 3,IPS (H) 2,MCI (A) 5
SOU,MUN (H) 3,IPS (H) 2,BOU (A) 2,ARS (A) 5,LEI (H) 2,MCI (A) 5,EVE (H) 2,WOL (A) 2,LIV (H) 4
NFO,LIV (A) 5,BHA (A) 2,FUL (H) 2,CHE (A) 4,CRY (H) 2,LEI (A) 2,WHU (H) 2,NEW (H) 3,ARS (A) 5
WOL,NEW (H) 3,AVL (A) 4,LIV (H) 4,BRE (A) 2,MCI (H) 5,BHA (A) 2,CRY (H) 2,SOU (H) 2,FUL (A) 3
NEW,WOL (A) 2,FUL (A) 3,MCI (H) 5,EVE (A) 3,BHA (H) 2,CHE (A) 4,ARS (H) 5,NFO (A) 2,WHU (H) 2
BHA,IPS (H) 2,NFO (H) 2,CHE (A) 4,TOT (H) 3,NEW (A) 4,WOL (H) 2,LIV (A) 5,MCI (H) 5,BOU (A) 2
ARS,TOT (A) 4,MCI (A) 5,LEI (H) 2,SOU (H) 2,BOU (A) 2,LIV (H) 4,NEW (A) 4,CHE (A) 4,NFO (H) 2
BOU,CHE (H) 3,LIV (A) 5,SOU (H) 2,LEI (A) 2,ARS (H) 5,AVL (A) 4,MCI (H) 5,BRE (A) 2,BHA (H) 2

In [8]:
def style_background_team_fdr(cell_value):
    bg = "background-color:"
    team_str = 0

    if cell_value != "":
        team_str = int(cell_value[-1])

    if team_str == 1:
        return f"{bg} darkgreen;"
    elif team_str == 2:
        return f"{bg} green;"
    elif team_str == 3:
        return f"{bg} grey;"
    elif team_str == 4:
        return f"{bg} orange;"
    elif team_str == 5:
        return f"{bg} darkred;"
    else:
        return ""


fx.style.map(style_background_team_fdr)