# Using `fpl_data.transform` module

In [1]:
import pandas as pd
from fpl_data.transform import FplApiDataTransformed

pd.set_option('display.max_columns', None)

Load and transform data

In [2]:
data = FplApiDataTransformed()

Getting data from API
...
DONE!

## Players

In [3]:
data.players_df.sort_values('Pts', ascending=False)

,team,pos,first_name,second_name,player_name,£,ST,MP,Pts,GS,A,GI,xG,xA,xGI,PPG,Pts90,GS90,A90,GI90,xG90,xA90,xGI90,CS,GC,xGC,GC90,xGC90,OG,PS,PM,YC,RC,S,S90,B,BPS,BPS90,I,C,T,II,I90,C90,T90,II90,TSB%
player_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
395,MUN,DEF,Raphaël,Varane,R.Varane,5.0,1,90,14,1,0,1,0.6,0.0,0.6,14.0,14.0,1.0,0.0,1.0,0.6,0.0,0.6,1,0,2.3,0.0,2.3,0,0,0,0,0,0,0.0,2,38,38.0,46.6,1.0,37.0,8.5,46.6,1.0,37.0,8.5,4.4
415,NEW,FWD,Alexander,Isak,Isak,7.6,1,67,13,2,0,2,0.8,0.0,0.8,13.0,17.5,2.7,0.0,2.7,1.0,0.0,1.0,0,1,1.5,1.3,2.0,0,0,0,0,0,0,0.0,3,51,68.5,68.4,2.7,61.0,13.2,91.9,3.6,81.9,17.7,24.6
355,MCI,FWD,Erling,Haaland,Haaland,14.0,1,79,13,2,0,2,0.6,0.0,0.6,13.0,14.8,2.3,0.0,2.3,0.7,0.1,0.7,1,0,0.2,0.0,0.3,0,0,0,0,0,0,0.0,3,56,63.8,67.6,23.7,48.0,13.9,77.0,27.0,54.7,15.8,90.8
365,MCI,MID,Rodrigo,Hernandez,Rodrigo,5.6,1,90,13,1,1,2,0.5,0.2,0.7,13.0,13.0,1.0,1.0,2.0,0.5,0.2,0.7,1,0,0.3,0.0,0.3,0,0,0,0,0,0,0.0,2,42,42.0,70.2,18.8,64.0,15.3,70.2,18.8,64.0,15.3,8.7
275,FUL,GKP,Bernd,Leno,Leno,4.5,1,90,12,0,0,0,0.0,0.0,0.0,12.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,2.7,0.0,2.7,0,0,0,0,0,9,9.0,3,46,46.0,75.0,0.0,0.0,7.5,75.0,0.0,0.0,7.5,9.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585,ARS,DEF,Jurriën,Timber,J.Timber,4.9,1,49,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.3,0.0,0.5,0,0,0,1,0,0,0.0,0,3,5.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.7
41,AVL,DEF,Diego Carlos,Santos Silva,Diego Carlos,4.5,0,26,0,0,0,0,0.3,0.0,0.3,0.0,0.0,0.0,0.0,0.0,0.9,0.0,0.9,0,2,1.6,6.9,5.7,0,0,0,0,0,0,0.0,0,6,20.8,9.4,0.4,37.0,4.7,32.5,1.4,128.1,16.3,0.5
42,AVL,DEF,Lucas,Digne,Digne,4.5,1,90,-1,0,0,0,0.0,0.2,0.2,-1.0,-1.0,0.0,0.0,0.0,0.0,0.2,0.2,0,5,3.4,5.0,3.4,0,0,0,1,0,0,0.0,0,13,13.0,13.2,45.2,2.0,6.0,13.2,45.2,2.0,6.0,1.3
36,AVL,DEF,Matty,Cash,Cash,4.5,1,86,-1,0,0,0,0.7,0.0,0.7,-1.0,-1.0,0.0,0.0,0.0,0.8,0.0,0.8,0,4,2.8,4.2,2.9,0,0,0,1,0,0,0.0,0,1,1.0,3.8,1.8,11.0,1.7,4.0,1.9,11.5,1.8,7.6
184,BUR,MID,Anass,Zaroury,Zaroury,5.0,0,30,-2,0,0,0,0.0,0.1,0.1,-2.0,-6.0,0.0,0.0,0.0,0.1,0.2,0.3,0,1,1.4,3.0,4.1,0,0,0,0,1,0,0.0,0,-6,-18.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1

## Player summary

In [4]:
player_fx = data.get_player_summary(355, 'fixtures')
player_fx

Fetching
...
DONE!

    team  difficulty
gw
2    NEW           4
3    SHU           2
4    FUL           2
5    WHU           3
6    NFO           2
7    WOL           2
8    ARS           4
9    BHA           3
10   MUN           4
11   BOU           2
12   CHE           3
13   LIV           4
14   TOT           3
15   AVL           3
16   LUT           2
17   CRY           2
19   EVE           2
20   SHU           2
21   NEW           4
22   BUR           2
23   BRE           3
24   EVE           2
25   CHE           3
26   BOU           2
27   MUN           3
28   LIV           4
29   BHA           3
30   ARS           4
31   AVL           3
32   CRY           2
33   LUT           2
34   TOT           3
35   NFO           2
36   WOL           2
37   FUL           2
38   WHU           2
nan  BRE           3

In [5]:
def style_background_player_fdr(cell_value):

    bg = 'background-color:'

    if cell_value == 1:
        return f'{bg} darkgreen;'
    elif cell_value == 2:
        return f'{bg} green;'
    elif cell_value == 3:
        return f'{bg} grey;'
    elif cell_value == 4:
        return f'{bg} orange;'
    elif cell_value == 5:
        return f'{bg} darkred;'
    else:
        return ''
    
player_fx.head(10).T.style.applymap(style_background_player_fdr)

In [6]:
player_id = 355
data.get_player_summary(player_id, 'history')

Fetching
...
DONE!

,opponent,score,ST,MP,GS,A,xG,xA,xGI,CS,GC,xGC,OG,PS,PM,YC,RC,S,B,BPS,I,C,T,II,NT,SB,£
gw,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,BUR (A),0 - 3,1,79,2,0,0.60,0.05,0.65,1,0,0.23,0,0,0,0,0,0,3,56,67.6,23.7,48.0,13.9,0,7200159,14.0

## Fixtures
Try to create a fixtures matrix, showing each team's upcoming fixtures and their difficulty

In [7]:
fx = data.get_fixtures_matrix()
fx

,2,3,4,5,6,7,8,9,10
team_home,,,,,,,,,
LUT,,CHE (A) 3,WHU (H) 2,FUL (A) 2,WOL (H) 2,EVE (A) 2,TOT (H) 3,NFO (A) 2,AVL (A) 3
AVL,EVE (H) 2,BUR (A) 2,LIV (A) 4,CRY (H) 2,CHE (A) 3,BHA (H) 3,WOL (A) 2,WHU (H) 2,LUT (H) 2
TOT,MUN (H) 3,BOU (A) 2,BUR (A) 2,SHU (H) 2,ARS (A) 4,LIV (H) 4,LUT (A) 2,FUL (H) 2,CRY (A) 2
BRE,FUL (A) 2,CRY (H) 2,BOU (H) 2,NEW (A) 4,EVE (H) 2,NFO (A) 2,MUN (A) 4,BUR (H) 2,CHE (A) 3
CHE,WHU (A) 3,LUT (H) 2,NFO (H) 2,BOU (A) 2,AVL (H) 3,FUL (A) 2,BUR (A) 2,ARS (H) 4,BRE (H) 3
LIV,BOU (H) 2,NEW (A) 4,AVL (H) 3,WOL (A) 2,WHU (H) 2,TOT (A) 3,BHA (A) 3,EVE (H) 2,NFO (H) 2
ARS,CRY (A) 2,FUL (H) 2,MUN (H) 3,EVE (A) 2,TOT (H) 3,BOU (A) 2,MCI (H) 5,CHE (A) 3,SHU (H) 2
EVE,AVL (A) 3,WOL (H) 2,SHU (A) 2,ARS (H) 4,BRE (A) 3,LUT (H) 2,BOU (H) 2,LIV (A) 4,WHU (A) 3
BUR,,AVL (H) 3,TOT (H) 3,NFO (A) 2,MUN (H) 3,NEW (A) 4,CHE (H) 3,BRE (A) 3,BOU (A) 2
BOU,LIV (A) 4,TOT (H) 3,BRE (A) 3,CHE (H) 3,BHA (A) 3,ARS (H) 4,EVE (A) 2,WOL (H) 2,BUR (H) 2
NEW,MCI (A) 5,LIV (H) 4,BHA (A) 3,BRE (H) 3,SHU (A) 2,BUR (H) 2,WHU (A) 3,CRY (H) 2,WOL (A) 2
MCI,NEW (H) 4,SHU (A) 2,FUL (H) 2,WHU (A) 3,NFO (H) 2,WOL (A) 2,ARS (A) 4,BHA (H) 3,MUN (A) 4
MUN,TOT (A) 3,NFO (H) 2,ARS (A) 4,BHA (H) 3,BUR (A) 2,CRY (H) 2,BRE (H) 3,SHU (A) 2,MCI (H) 5
NFO,SHU (H) 2,MUN (A) 4,CHE (A) 3,BUR (H) 2,MCI (A) 5,BRE (H) 3,CRY (A) 2,LUT (H) 2,LIV (A) 4
FUL,BRE (H) 3,ARS (A) 4,MCI (A) 5,LUT (H) 2,CRY (A) 2,CHE (H) 3,SHU (H) 2,TOT (A) 3,BHA (A) 3
CRY,ARS (H) 4,BRE (A) 3,WOL (H) 2,AVL (A) 3,FUL (H) 2,MUN (A) 4,NFO (H) 2,NEW (A) 4,TOT (H) 3
WOL,BHA (H) 3,EVE (A) 2,CRY (A) 2,LIV (H) 4,LUT (A) 2,MCI (H) 5,AVL (H) 3,BOU (A) 2,NEW (H) 4
SHU,NFO (A) 2,MCI (H) 5,EVE (H) 2,TOT (A) 3,NEW (H) 4,WHU (A) 3,FUL (A) 2,MUN (H) 3,ARS (A) 4
BHA,WOL (A) 2,WHU (H) 2,NEW (H) 4,MUN (A) 4,BOU (H) 2,AVL (A) 3,LIV (H) 4,MCI (A) 5,FUL (H) 2
WHU,CHE (H) 3,BHA (A) 3,LUT (A) 2,MCI (H) 5,LIV (A) 4,SHU (H) 2,NEW (H) 4,AVL (A) 3,EVE (H) 2

In [8]:
def style_background_team_fdr(cell_value):

    bg = 'background-color:'
    team_str = 0

    if cell_value != '':
        team_str = int(cell_value[-1])

    if team_str == 1:
        return f'{bg} darkgreen;'
    elif team_str == 2:
        return f'{bg} green;'
    elif team_str == 3:
        return f'{bg} grey;'
    elif team_str == 4:
        return f'{bg} orange;'
    elif team_str == 5:
        return f'{bg} darkred;'
    else:
        return ''

fx.style.applymap(style_background_team_fdr)